<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid py-1 px-4">
    <div class="col-11">
      <a href="/user" class="navbar-brand">Victor Smirnov</a>
      | &nbsp;&nbsp;
      <a href="/" class="navbar-brand">My Shop</a>
    </div>
    <div class="col-1">
      <div class="text-end">
        <a href="/cart">
          <button class="btn btn-error position-relative">
            <img src="/static/assets/cart.svg" alt="cart" width="24">
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="notifId">0</span>
            </img>
          </button>
        </a>
      </div>
    </div>
  </div>
</nav>